<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= javascript_importmap_tags %>

    <style>

      .question {
        height: 75px;
        width: 60vh;
        border-left: 10px solid gray;
        padding: 10px;
        margin-bottom: 20px;
      }
      .answer {
        background-color: #FFFFE1;
        height: 75px;
        width: 60vh;
        border-left: 10px solid gray;
        padding: 10px;
        margin-bottom: 20px;

      }
      /* .back-button {
        margin-left: 20px;
      } */

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
